.info-container {
    display: flex;
    flex-direction: column;
    color: white;
}

.headers-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-icon, .delete-icon {
    width: 35px; 
    height:35px; 
    cursor: pointer;
}

.save-icon:hover {
    color: chartreuse;
}

.delete-icon:hover {
    color: rgb(207, 0, 0)
}

.port-control {
    display: flex;
    justify-content: space-evenly;
}