.sw-port {
    width: 25px;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: white;
}

.up .sw-port {
    flex-wrap: wrap-reverse;
}

.down .sw-port {
    flex-wrap:wrap;
}

.port-input {
    width: 100%;
    border: none;
    height: 100%;
    background-color: dimgray;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition-duration: .1s;
}

.port-input:hover {
    background-color: chartreuse;
    color: white;
}

.ethernet-img {
    width: 100%;
    cursor: pointer;
}