.switch {
    min-width: 600px;
    background-color: rgba(36, 36, 36, 0.76);
    margin: 20px;
    display: flex;
    justify-content:space-between;
    padding: 15px 20px;
    border: rgb(158, 158, 158) 2px solid;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control h1 {
    color:lime;
    text-shadow: rgb(102, 102, 102) 0px 0px 5px;
}