.switch {
    width: 860px;
    background-color: darkgray;
    height: 90px;
    margin: 20px;
    display: flex;
    justify-content:space-between;
    padding: 20px;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control h1 {
    color:lime;
    text-shadow: rgb(102, 102, 102) 0px 0px 5px;
}