.controls {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.controlChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

.controlGrandSon {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}

.divSubtitles {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 10px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.subtitles {
    overflow: hidden;
    width: 0;
    height: 0;
}

.subtitle {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    
}

.subtitleColor {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
    border: 1px solid #FFF;
}

.searchDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.serchInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FFF;
    width: 300px;
    outline: none;
    font-size: 16pt;
    padding: 5px;
}

.centerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centerDiv h2{
    margin: 0;
}

.centerDiv a {
    padding: 10px 40px;
    font-size: large;
    font-weight: bold;
    color: chartreuse;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: 2px solid;
    cursor: pointer;
    text-align: center;
    margin: 20px 0;
}


.centerDiv a:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.322);
    transition: .2s;
}