.listDiv {
    display: flex;
}

.listElementDiv {
    background-color: rgba(36, 36, 36, 0.76);
    margin: 20px;
    display: flex;
    justify-content:space-between;
    padding: 15px 20px;
    border: rgb(158, 158, 158) 2px solid;
    text-decoration: none;
    max-width: 300px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.listElementDiv:hover {
    transition: .2s;
    box-shadow: rgba(255, 255, 255, 0.39) 0px 0px 10px;
}

.elementName {
    color: chartreuse;
    font-weight: bold;
}

.switchDiv {
    background-color: rgba(36, 36, 36, 0.76);
    margin: 20px;
    display: flex;
    padding: 5px 20px;
    border: rgb(158, 158, 158) 2px solid;
    text-decoration: none;
    max-width: 300px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.switchDiv:hover {
    transition: .2s;
    box-shadow: rgba(255, 255, 255, 0.39) 0px 0px 10px;
}

.linkDiv {
    background-color: rgba(36, 36, 36, 0.76);
    margin: 20px;
    display: flex;
    padding: 5px 20px;
    border: rgb(158, 158, 158) 2px solid;
    text-decoration: none;
    max-width: 180px;
    cursor: pointer;
    text-align: center;
    align-items: center; 
    flex-direction: column;
}

.linkDiv:hover {
    transition: .2s;
    box-shadow: rgba(255, 255, 255, 0.39) 0px 0px 10px;
}