.listDiv {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 5px;
}

@media (max-width: 600px) {
    .listDiv {
        grid-template-columns: 1fr;
    }
}

.content {
    max-width: 90%;
    overflow-x: auto;
}

.listElementDiv {
    background-color: rgba(36, 36, 36, 0.76);
    margin: 10px;
    display: flex;
    justify-content:center;
    padding: 10px 15px;
    border: rgb(158, 158, 158) 2px solid;
    text-decoration: none;
    min-width: 150px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-size: 1.1rem;
}

.listElementDiv:hover {
    transition: .2s;
    box-shadow: rgba(255, 255, 255, 0.39) 0px 0px 10px;
}

.elementName {
    color: chartreuse;
    font-weight: bold;
    word-break: break-all;
}

.linkDiv {
    background-color: rgba(36, 36, 36, 0.76);
    margin: 10px;
    display: flex;
    padding: 5px 20px;
    border: rgb(158, 158, 158) 2px solid;
    text-decoration: none;
    max-width: 180px;
    cursor: pointer;
    text-align: center;
    align-items: center; 
    flex-direction: column;
}

.linkDiv:hover {
    transition: .2s;
    box-shadow: rgba(255, 255, 255, 0.39) 0px 0px 10px;
}