.switch {
    min-width: 600px;
    margin: 10px;
    display: flex;
    justify-content:space-between;
    padding: 8px 20px;
    width: fit-content;
}

.swcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15px;
}

.swcode h1 {
    color:lime;
    text-shadow: rgb(102, 102, 102) 0px 0px 5px;
}